* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.App {
  min-height: 100vh;
  min-width: 100%;
}

.background {
  height: 100vh;
  width: auto;
  background-size: cover;
}
