.landing-page {
  height: 100vh;
  min-width: 100%;
  background-color: black;
}

.background-cover {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  animation: fade 30s;
}

.dynamic-background {
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
