.landing-page {
  height: 100vh;
  min-width: 100%;
  background-color: black;
}

.dynamic-background {
  min-height: 100vh;
  min-width: 100%;
  animation: fade;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  position: fixed;
  top: 10%;
  left: 10%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
