.landing-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
}

#anchor {
  width: 350px;
  height: 400px;
  position: absolute;
  bottom: -82px;
  left: -57px;
  transform: rotate(35deg);
}

.eye {
  position: absolute;
  height: 47px;
  width: 47px;
  border-radius: 10px;
}
