.simpsons-background {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/simpsons_couch.png');
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.speech-bubble {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px;
  max-width: 25%;
  max-height: 40%;
  padding: 60px;
  border: 5px solid black;
}

.homer {
  position: absolute;
  top: 10%;
  right: 50%;
  width: auto;
  height: 1800px;
  pointer-events: none;
}

.text {
  font-size: 1.2rem;
  text-align: center;
  margin: 8px;
}

.board {
  background-color: rgba(255, 255, 255, 0.791);
  border: 5px solid black;
  height: 90%;
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.not-flipped {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.flipped {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.front {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-height: 80%;
  max-width: 80%;
}

.back {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  max-height: 80%;
  max-width: 80%;
}

.not-flipped .front {
  transform: rotateY(90deg);
}

.flipped .front {
  transform: rotateY(0deg);
}

.not-flipped .back {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(90deg);
}

@media only screen and (max-width: 800px) {
  .simpsons-background {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/simpsons_couch.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .speech-bubble {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 90%;
    max-height: 20%;
    padding: 60px;
    border: 5px solid black;
  }

  .board {
    background-color: rgba(255, 255, 255, 0.791);
    border: 5px solid black;
    height: 90%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
}
